@use './vars.scss';
@use './Home/Hero.scss';
@use './Home/OurProduct.scss';
@use './Home/useCases.scss';
@use './Home/ourFeatures.scss';
@use './Home/faq.scss';
@use './Home/testimonial.scss';
@use './careers.scss';
@use './About.scss';
@use './Security.scss';
@use './LogSign.scss';

* {
    font-family: "Lexend", sans-serif;
}

body {
    background-color: vars.$gr10;
    color: white;
}

.home-wrap {
    .top-img {
        position: absolute;
        width: 400px;
        top: -20px;
        left: -20px;
        z-index: -1;
    }
}



// navigation
.nav-con {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .nav-wrap {
        width: 90%;
        height: 49px;
        background-color: vars.$gr11;
        padding: 14px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 100px;
        border: 1px solid vars.$gr15;
        position: relative;

        .hamb {
            cursor: pointer;
        }

        .nav-logo {
            width: 116px;
            height: 30px;
        }

        .nav-content {
            width: 66%;
            display: flex;
            justify-content: space-between;

            .nav-btns {
                display: flex;
                gap: 10px;
    
                button {
                    background-color: transparent;
                    color: white;
                    border: none;
                    font-size: 15px;
                    cursor: pointer;
                    padding: 10px 14px;
                    border-radius: 82px;
    
                    &:hover {
                        background-color: vars.$gr15;
                    }
                }
            }
    
            .nav-sign {
                display: flex;
                gap: 10px;
    
                .sign,
                .log {
                    background-color: transparent;
                    color: white;
                    font-size: 15px;
                    padding: 10px 14px;
                    border-radius: 82px;
                    cursor: pointer;
                    border: none;
    
                    &:hover {
                        background-color: vars.$gr15;
                    }
                }
    
                .log {
                    background-color: vars.$g60;
                    color: black;
    
                    &:hover {
                        background-color: vars.$g60;
                        opacity: 0.9;
                    }
                }
            }
        }


        .nav-content-hamb {
            height: 300px;
            background-color: vars.$gr11;
            padding: 10px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 100px;
            position: absolute;
            top: 78px;
            right: 30px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;
            border: 1px solid vars.$gr15;
            z-index: 1000;



            .nav-btns {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
    
                button {
                    background-color: transparent;
                    color: white;
                    border: none;
                    font-size: 15px;
                    cursor: pointer;
                    padding: 10px 14px;
                    border-radius: 82px;
    
                    &:hover {
                        background-color: vars.$gr15;
                    }
                }
            }
    
            .nav-sign {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
    
                .sign,
                .log {
                    background-color: transparent;
                    color: white;
                    font-size: 15px;
                    padding: 10px 14px;
                    border-radius: 82px;
                    cursor: pointer;
                    border: none;
    
                    &:hover {
                        background-color: vars.$gr15;
                    }
                }
    
                .log {
                    background-color: vars.$g60;
                    color: black;
    
                    &:hover {
                        background-color: vars.$g60;
                        opacity: 0.9;
                    }
                }
            }
        }

        
    }
}


// footer
.footer-wrap {
    height: 440px;
    display: flex;
    flex-direction: column;
    background-color: vars.$gr11;
    justify-content: space-around;
    align-items: center;
    color: white;

    .footer-info {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        font-weight: 300;
        padding: 40px;
        border-bottom: 1px solid vars.$gr15;
        border-top: 1px solid vars.$gr15;
        flex-wrap: wrap;

        div {
            display: flex;
            gap: 8px;
            img {
                width: 20px;
            }
        }
    }



    .footer-btns {
        button {
            background-color: transparent;
            color: white;
            font-size: 15px;
            padding: 10px 14px;
            border-radius: 82px;
            cursor: pointer;
            border: none;

            &:hover {
                background-color: vars.$gr15;
            }
        }
    }

    .footer-end {
        display: flex;
        background-color: vars.$gr10;
        justify-content: space-between;
        width: 100%;
        padding: 12px 24px 12px 12px;
        border-radius: 100px;
        border: 1px solid vars.$gr15;
        color: #B3B3B3;
        font-weight: lighter;
        font-size: 14px;
        flex-wrap: wrap;



        .footer-end-start {
            display: flex;
            gap: 10px;

            img {
                width: 44px;
                height: 44px;
                cursor: pointer;
            }

        }


        .footer-end-end {
            display: flex;
            justify-content: center;
            align-items: center;

            .border {
                border-right: 1px solid #B3B3B3;

            }

            a {
                text-decoration: none;
                color: #B3B3B3;
                padding: 0 10px;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

.start-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    margin-bottom: 150px;

    .start-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 80px;
        border-radius: 20px;
        background-color: #1C1C1C;
        border: 1px solid vars.$gr15;
        position: relative;

        img {
            position: absolute;
            left: 0;
            top: 0;
        }
        
        .start-left {
            z-index: 1;
            span {
                font-size: 30px;
            }
            p {
                font-size: 16px;
                line-height: 150%;
                color: vars.$gr70;
                font-weight: 200;

            }
            .green {
                color: vars.$g60;
            }
        }
        button {
            background-color: vars.$g60;
            border-radius: 82px;
            color: vars.$gr11;
            font-size: 14px;
            width: 200px;
            height: 49px;
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            &:hover{
                opacity: 0.9;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .start-wrap {
        padding: 0;
        .start-con {
            padding: 50px 10px;
        }
    }
}



// header
.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
    flex-wrap: wrap;

    .header-text {
        width: 100vmin;

        h2 {
            font-size: 38px;
            font-weight: 500;
            margin: 15px 0;

            .green {
                color: vars.$g60;
            }
        }

        .para {
            font-size: 14px;
            font-weight: 100;
            color: vars.$gr70;
            line-height: 150%;
        }
    }
    .no-btn {
        width: max-content;
    }

    .header-btns {
        width: 350px;
        border: 1px solid vars.$gr15;
        background-color: vars.$gr11;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 82px;
        height: 63px;
        gap: 5px;


        .tog {
            background-color: vars.$g60;
            color: black;
            padding: 14px 24px;
            font-size: 2vmin;
            border: none;
            border-radius: 140px;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }
        }

        .non {
            background-color: vars.$gr11;
            border: none;
            cursor: pointer;
            color: white;
            padding: 14px 24px;
            font-size: 2vmin;
            border-radius: 140px;

            &:hover {
                background-color: vars.$gr15;
            }

        }
    }
}

.error-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        font-size: 44px;
    }
    p {
        font-size: 26px;
    }
    a {
        text-decoration: none;
        background-color: vars.$g60;
        color: black;
        padding: 12px;
        border-radius: 20px;
        margin-top: 20px;
        &:hover {
            opacity: 0.8;
        }
    }
}