$g60: #CAFF33;
$g65: #D1FF4C;
$g70: #D8FF66;
$g80: #E5FF99;
$g90: #F2FFCC;
$g95: #F8FFE5;
$g97: #FBFFF0;
$g99: #FEFFFA;

$w90: #E4E4E7;
$w95: #F1F1F3;
$w97: #F7F7F8;
$w99: #FCFCFD;

$gr10: #191919;
$gr11: #1C1C1C;
$gr15: #262626;
$gr20: #333333;
$gr30: #4C4C4D;
$gr35: #59595A;
$gr40: #656567;
$gr60: #98989A;
$gr70: #B3B3B3;
$gr75: #BFBFBF;
