@use '../vars.scss';

.faq-wrap {
    padding: 0 80px;
    margin-bottom: 80px;

    .faq-top {
        margin-bottom: 70px;
        margin-top: 120px;

        span {
            font-size: 38px;
        }

        .green {
            color: vars.$g60;

        }

        p {
            font-size: 16px;
            font-weight: 200;
            color: vars.$gr70;
        }
    }

    .faq-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;

        .faq-card {
            width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 40px;
            border-radius: 10px;
            border: 1px solid vars.$gr15;

            p {
                line-height: 150%;
                font-weight: 200;
                color: vars.$gr70;
            }
        }


    }

    .faq-btn {
        display: flex;
        justify-content: center;

        button {
            color: white;
            padding: 14px 20px;
            border-radius: 100px;
            background-color: vars.$gr11;
            border: 1px solid vars.$gr15;
            font-weight: 200;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                opacity: 0.8;
            }
        }

    }
}