@use '../vars.scss';

.faq-wrap {
    padding: 0 80px;
    margin-bottom: 80px;
    

    .faq-cards  {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
        margin-top: 50px;
        height: 600px;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%,rgba(0, 0, 0, 1) 100%);
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%,rgba(0, 0, 0, 1) 100%);
        transition: height 1s ease-in-out;

        &.expand {
            height: 1200px;
            mask-image: none;
            
        }

        .faq-card {
            width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 40px;
            border-radius: 10px;
            border: 1px solid vars.$gr15;

            p {
                line-height: 150%;
                font-weight: 200;
                color: vars.$gr70;
            }
        }


    }

    .faq-btn {
        display: flex;
        justify-content: center;

        button {
            color: white;
            padding: 14px 20px;
            border-radius: 100px;
            background-color: vars.$gr11;
            border: 1px solid vars.$gr15;
            font-weight: 200;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                opacity: 0.8;
            }
        }

    }
}



@media screen and (max-width: 800px) {
    .faq-wrap{
        padding: 0;
        .faq-cards{
&.expand {
            height: auto;
        }
        }
        
    }
}

@media screen and (max-width: 1200px) {
    .faq-wrap{
    .faq-cards{
&.expand {
        height: auto;
    }
}
    
}
}