@use '../vars.scss';

.features-wrap {
    padding: 0 80px;

    .features-cards {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-top: 50px;
        margin-bottom: 50px;

        .features-buttons {
            padding: 30px;
            background-color: vars.$gr11;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 250px;

            button {
                padding: 14px 20px;
                color: white;
                background-color: vars.$gr10;
                border-radius: 100px;
                border: 1px solid vars.$gr15;
                font-weight: 500;
                width: 180px;
                font-size: 15px;
                cursor: pointer;

                &:hover {
                    color: vars.$g80;
                }
            }

            .active {
                color: vars.$g60;
            }
        }

        .cards {

            .feautures-con {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                .features-card {
                    width: 410px;
                    padding: 40px;
                    background-color: vars.$gr11;
                    border: 1px solid vars.$gr15;
                    border-radius: 10px;

                    .card-top {
                        display: flex;
                        justify-content: space-between;

                        span {
                            font-size: 18px;
                        }


                    }

                    .card-bot {
                        p {
                            font-size: 16px;
                            font-weight: 200;
                            color: vars.$gr70;
                        }
                    }


                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        .features-cards {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 800px) {
    .features-wrap {
        padding: 0;
        .features-cards {
            .cards {
                .feautures-con {

    
                .features-card {
                    width: 300PX;
                }}
            }
        }
    }
}
