@use '../vars.scss';

.test-wrap {
    padding: 0 80px;
    margin-bottom: 100px;

    .test-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;

        .ourproducts-text {
            width: 100vmin;

            h2 {
                font-size: 5vmin;
                font-weight: 500;

                .green {
                    color: vars.$g60;
                }
            }

            .para {
                font-size: 2vmin;
                font-weight: 100;
                color: vars.$gr70;
                line-height: 150%;
            }
        }

        .ourproducts-btns {
            width: 350px;
            border: 1px solid vars.$gr15;
            background-color: vars.$gr11;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 82px;
            height: 63px;
            gap: 5px;


            .tog {
                background-color: vars.$g60;
                color: black;
                padding: 14px 24px;
                font-size: 2vmin;
                border: none;
                border-radius: 140px;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }

            .non {
                background-color: vars.$gr11;
                border: none;
                cursor: pointer;
                color: white;
                padding: 14px 24px;
                font-size: 2vmin;
                border-radius: 140px;

                &:hover {
                    background-color: vars.$gr15;
                }

            }
        }}

        .test-slider {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            


            .test-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                height: 350px;
                margin-bottom: 50px;


                img {
                    width: 70px;
                }

                p {
                    font-size: 16px;
                    line-height: 150%;

                }

                span {
                    color: vars.$g60;
                    font-size: 18px;
                }
            }
            .test-card:nth-child(2) {
                -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%,rgba(0, 0, 0, 1) 100%);
                mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%,rgba(0, 0, 0, 1) 100%);
            }
            
            .test-card:nth-child(4) {
                -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%,rgba(0, 0, 0, 1) 100%);
                mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%,rgba(0, 0, 0, 1) 100%);
            }
            
        }
}